.grid-intro {
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 150px 0 150px;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 80px;
  width: 100%;
  height: fit-content;
  position: relative;
  line-height: 50px;
}

.name {
  color: rgb(230, 137, 94);
}

.intro {
  font-family: 'Abril Fatface', cursive;
  color: wheat;
  font-size: 60px;
  position: relative;
  padding-bottom: 100px;
}

.presentation,
p {
  text-align: center;
  font-size: 2em;
}

.mer {
  width: 50%;
  height: max-content;
  position: relative;
}

.photo {
  display: flex;
  justify-content: space-between;
}

.react_node {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 40px;
  margin-top: 30px;
}

.fa-react,
.fa-node {
  font-size: 40px;
  color: rgb(230, 137, 94);
}

.fa-react:hover,
.fa-node:hover {
  color: rgb(230, 137, 94);
  transform: rotate(360deg);
  transition: 0.5s ease;
}

/****** Bouton entrer ******/

.entrer {
  padding-top: 100px;
}
.entrer:hover {
  color: rgb(230, 137, 94);
  transform: scale(1) translate(5px);
  text-decoration: underline 1px;
  transition: 0.5s ease-in-out;
}

.btn {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  color: wheat;
  font-size: 25px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:hover {
  color: rgb(230, 137, 94);
  transform: scale(1) translate(5px);
  text-decoration: underline 1px;
}

/***** Reseaux *****/

.reseaux {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 70px;
}

@media screen and (max-width: 1100px) {
  .mer {
    display: none;
  }

  .photo {
    display: flex;
    justify-content: center;
  }

  .intro {
    color: wheat;
    font-size: 40px;
    padding-bottom: 60px;
    margin-left: 10px;
    text-align: center;
  }

  .grid-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 130px 10px 0 10px;
  }

  .btn {
    text-decoration: underline 1px;
    color: wheat;
    font-size: 22px;
  }
}
