.firstname {
  font-family: Staatliches, cursive;
  color: #fb4264;
  font-size: 3vw;
  text-shadow: 1px 1px 9px rgba(247, 72, 72, 0.9);
}

.lastname {
  font-family: Staatliches, cursive;
  color: #406cfc;
  font-size: 3vw;
  text-shadow: 1px 1px 9px rgba(63, 120, 241, 0.9);
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50px;
  height: auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .firstname {
    font-family: Staatliches, cursive;
    color: #fb4264;
    font-size: 5vw;
  }

  .lastname {
    font-family: Staatliches, cursive;
    font-size: 5vw;
  }

  .titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding-left: 20px;
  }

  img {
    display: none;
  }
}
