.positionPhoto {
  display: flex;
}

.portrait {
  height: max-content;
  padding-top: 70px;
}
.spitch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerAbout {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 80%;
  background-color: white;
  border-radius: 3px;
}
