* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #427496;
  border-bottom: solid 1px rgb(247, 219, 63);
  position: fixed;
  z-index: 1;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.accueil,
.portfolio,
.apropos,
.contact {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  color: rgb(247, 219, 63);
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.accueil:hover,
.portfolio:hover,
.apropos:hover,
.contact:hover {
  color: #030e4b;
  transform: scale(1) translate(5px);
  transition: 0.5s all ease-in-out;
}

.logo {
  width: 7%;
  height: auto;
  padding-top: 10px;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar {
    border-bottom: solid 1px#030e4b;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: fixed;
    display: block;
    list-style: none;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    background: rgb(247, 219, 63);
    z-index: 1;
  }

  .accueil,
  .portfolio,
  .apropos {
    font-family: 'Abril Fatface', cursive;
    color: #030e4b;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    background: none;
    color: #030e4b;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }

  .logo {
    width: 25%;
    height: auto;
    margin-left: 20px;
  }
}
